.main__container{
background-color: rgb(164, 154, 167);
width: 600px;
min-height: 800px;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main__title{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 30px 30px 0 30px;
font-size: 27px;
}

.main__f-maker{
    /* border: 1px dashed black; */
    min-height: 550px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    }

.main__f-maker_item_borderline{
    border-color: black;
    
}

.main__f-maker_name{
    font-size: 24px;
    display: flex;
    justify-self: start;
}

.main__f-maker_aboutblock{
    /* border: 1px dashed green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__f-maker_about{
    font-family: 'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    color: white;
    text-align: start;
    padding-left: 25px;
}

a{
color: black;
font-weight: 600;
}

.topFilmsList{
font-weight: 600;
padding:10px 30px 20px 30px;
color: rgb(59, 59, 59);
display: block;
/* justify-content: start; */
}

.topFilms{
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    color: black;
    line-height: 0px;
    padding: 0 2px;
    hyphens: auto;
}